@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="row justify-content-center">
    <div class="col-12">

        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i> <strong>Tuyệt vời!</strong> Mật khẩu của bạn đã được thay đổi thành công.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form action="~/Account/ChangePassword" method="post">
            <div class="card card-warning card-outline">
                <div class="card-body">

                    <div class="mb-3">
                        @Html.ValidationMessage("Error", new { @class = "text-danger fw-bold" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu cũ</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input type="password" class="form-control" name="oldPassword" placeholder="Nhập mật khẩu cũ" autofocus required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-shield-lock-fill"></i>
                            </span>
                            <input type="password" class="form-control" name="newPassword" placeholder="Nhập mật khẩu mới" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-check-circle-fill"></i>
                            </span>
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Nhập lại mật khẩu mới" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Đổi mật khẩu
                    </button>
                    <a href="~/Home" class="btn btn-secondary me-2">
                        <i class="bi bi-back"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>